<!DOCTYPE html>
{% load static %}
<html>
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>ESIDatabase</title>
</head>
<body style="background-color: #f0fff0;">
    <!-- 共通のヘッダ -->
    
    <header>
        
        <header>
        
            <div class="container">
                <!-- Content here -->
                <div style="background-color: #00CC99; color: #FFFFFF;">
                    <div class="inline-block">
                       
                        <h1 id="top">　ESI Database</h1><a>　　</a>
                        <a href="{% url 'top' %}"><p style="font-size: 20px;">TOPページ></p></a><p>　　[</p>
                        <a href="{% url 'what_esi' %}">What's ESI?</a><p>]　　[</p>
                        <a href="{% url 'provide' %}">get descriptor</a><p>]　　[</p>
                        <a href="{% url 'link_esi' %}">related links</a><p>]　　[</p>
                        <a href="{% url 'past_question' %}">Q & A</a><p>]</p>
                    </div>
                </div>
            </div>
        </header>
    </header>
   

    <!-- 共通のナビゲーションバー -->
    <!--
    <nav>
        <ul>
            <li><a href="#">リンク1</a></li>
            <li><a href="#">リンク2</a></li>
            <li><a href="#">リンク3</a></li>
        </ul>
    </nav>
    -->

    <div class="container-lg">
        
        <div class="container-fluid">
             <div class="row">
            <!-- サイドメニュー -->
                <div class="col-3 bg-light">
                    <ul class="nav flex-column">
                        <div style="margin-bottom: 20px;">
                            <!-- 空白 -->
                        </div> 
                        {% block side %}
                        {% endblock %}
                        <!--
                        <div class="image-container">
                            <a href="http://www.chem.kumamoto-u.ac.jp/~kucc/index.html">
                                <img src="{% static 'sugimoto.jpg' %}" alt="画像" >
                            </a>
                        </div>
                        <style>
                            .image-container img {
                                max-width: 100%;
                                height: auto;
                            }
                        </style>
                        -->

                        <div style="margin-bottom: 20px;">
                            <!-- 空白 -->
                        </div>
                     </ul>
        </div>
       
    
    <!-- 各ページ固有のコンテンツ -->
        <div class="content" style="background-color: #FFFFFF;">
            <div style="margin-bottom: 20px;">
                <!-- 空白 -->
            </div>
            {% block content %}
            {% endblock %}
        </div>
        <style>
            .content {
                margin: 0 auto; /* 水平方向に中央揃え */
                width: 75%; /* 適切な幅を指定 */
                   }
        </style>
    </div>
    <!-- 共通のフッタ -->
    <footer>

        <div class="container">
            <footer>
                <div style="text-align: right;">
                    <!-- ページトップへ戻るボタン -->
                    <a href="#top">ページトップへ戻る</a>
                </div>
                
            </footer>
            <!-- Content here -->
            
           
          </div>
        
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- 共通のJavaScriptファイルの読み込み -->
</body>
</html>
