{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block side %}
<li class="nav-item">
    <a class="nav-link active" href="{% url 'past_question' %}">Past questions</a>
   
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'contact_form' %}">Contact form</a>
</li>

<div style="margin-bottom: 20px;">
    <!-- 空白 -->
</div>
<p>If you have any questions about ESI or this website, please contact us at the email address below.</p>
   <p style=" color: #d2691e;"> sugimoto@kumamoto-u.ac.jp</p>
{% endblock%}



{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Question form
        </div>
        <div class="card-body">
            <h8 class="card-title">Your email address will not be published. You don't necessarily have to fill it out.  If you do not publish the question itself, please fill it out email address to receive a reply from us.</h8>
            <p class="card-text">
                <form action=" " method="POST">{% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="submit">
                </form>
            </p>
            
          </div>
        
   
    </div>

</div>

<div style="margin-bottom: 40px;"></div>

{% endblock content %}
<!--
<form action=" " method="POST">{% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="作成する">
</form>
-->